/*reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*generali*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 75%;
    margin: auto;
}

/*header*/
header {
    background-color: white;
    height: 150px;
    margin-bottom: 20px;
    
}
.logo {
    height: 50px;
    margin: 10px 0 50px 0;
     
}
a:link{
    text-decoration: none;
    color: grey;
    margin-right: 12px;
}

/*MAIN*/
/*prima sezione main*/
.hero {
    background-image: url('../img/banner.jpg');
    height: 400px;
    border-radius: 10px;
    background-size: 90%;
    background-position: center ;
    margin-bottom: 15px;
    position: relative;
      
}
.hero-text{
    position: absolute;
    padding: 250px 25px 100px 45px;
    font-size: 12px;
    color: white;
    width: 60%;
      
}
.titolo-hero {
    font-size: 20px ;
    line-height: 30px;
    font-weight: 500;

}
.par-hero {
    font-size: 13px;
}
/*seconda sezione main*/
.leadership {
	background-color: #0086ff;
}

.leadership-title {
    background-color: #abcfe7;
    height: 70px;
    
}
.row {
    padding: 15px 0;
}
.col-left, .col-center, .col-right {
    float: left;
    background-color: #abcfe7;
    
}
.col-left, .col-right {
    width:20%;
          
}
.col-center {
    width: calc(60% - 16px);
    margin: 0 8px;
}



/*footer*/
footer {
    background-color: #8801fe;
    height:70px ;
    margin-top: 7px;

}
